.nav__list li:nth-child(1) p {
  color: var(--color-brand-1);
}

.dark-mode .nav__list li:nth-child(1) p {
  color: var(--color-brand-3);
}

.infos h1 {
  margin-top: -2.5rem;
}

.user-infos {
  position: absolute;
  bottom: var(--gap-3);
  left: var(--gap-3);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-company {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-company > img {
  width: var(--gap-3);
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--gap-3);
}

.main > h1 {
  margin-top: 2.5rem;
  font-weight: 700;
}

.main > p {
  margin-bottom: var(--gap-3);
}

.user-options {
  width: 100%;
  display: flex;
  gap: var(--gap-1);
  align-items: center;
  overflow-y: hidden;
  overflow-x: auto;
}

.options p {
  margin-left: 25px;
}

.options p::before {
  display: none;
}

.footer {
  display: none;
}

@media (min-width: 1200px) {
  .nav__list li:nth-child(1) p::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: var(--color-brand-1);
  }
  .dark-mode li:nth-child(1) p::after {
    background: var(--color-brand-3);
  }
  .font-title-4 {
    font: var(--font-title-2);
  }
  .main > h1 {
    margin-top: 60px;
  }
  .main > p {
    margin-bottom: 2.5rem;
  }
  .options {
    max-width: unset;
    padding: 2.5rem var(--gap-3);
    cursor: pointer;
    transition: 0.3s ease;
    width: 500px;
    height: 150px;
    position: relative;
  }
  .options:hover {
    border: 2px solid transparent;
  }
  .options__info h3 {
    margin-left: 25px;
  }
  .options p {
    max-width: 35ch;
  }
  .options__info img {
    position: absolute;
    right: 2.5rem;
    top: 60px;
    width: 100px;
  }
  .user-company p {
    font-size: 1rem;
  }
}
