.show-text {
  animation: show-text 1s forwards;
}

@keyframes show-text {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.down-text {
  animation: down-text 1s forwards;
}

@keyframes down-text {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
